<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% item_type = @item.type.downcase %>
    <% item_description = @item.is_a?(Book) ? "#{@item.title} by #{@item.author}" : "#{@item.title} (#{@item.brand})" %>
    <h2>New <%= item_type.capitalize %> Request</h2>
    <p>Hello <%= @item.user.display_name %>,</p>
    
    <p><%= @requester.display_name %> has requested your <%= item_type %> "<%= item_description %>".</p>
    
    <h3>Request Message:</h3>
    <p><%= @item_request.message %></p>
    
    <h3>Requester Details:</h3>
    <ul>
      <li>Name: <%= @requester.display_name %></li>
      <li>Location: <%= @requester.location %></li>
    </ul>
    <p>
      You can view and respond to this request here:
      <%= link_to 'View request details', "#{root_url}item_request_details?id=#{@item_request.id}" %>
    </p>
    
  </body>
</html>
