# app/views/book_request_mailer/new_request_notification.html.erb
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% item_type = @item.type.downcase %>
    <% item_description = @item.is_a?(Book) ? "#{@item.title} by #{@item.author}" : "#{@item.title} (#{@item.brand})" %>
    <h2>New <%= item_type.capitalize %> Request</h2>
    <p>Hello <%= @item.user.display_name %>,</p>
    
    <p><%= @requester.display_name %> has requested your <%= item_type %> "<%= item_description %>".</p>
    
    <h3>Request Message:</h3>
    <p><%= @item_request.message %></p>
    
    <h3>Requester Details:</h3>
    <ul>
      <li>Name: <%= @requester.display_name %></li>
      <li>Location: <%= @requester.location %></li>
    </ul>
    
    <p>Please log in to your GivingShelf Community account to view and respond to this request.</p>
    
    <p>Thank you,<br>GivingShelf Community</p>
  </body>
</html>