<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "BookShare - Community Book Donation" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Share and discover books in your local community. Donate used books and find great reads from neighbors.">
    <% if ENV['SENTRY_DSN_FRONTEND'].present? %>
      <meta name="sentry-dsn" content="<%= ENV['SENTRY_DSN_FRONTEND'] %>">
      <meta name="sentry-environment" content="<%= Rails.env %>">
      <% if ENV['SENTRY_RELEASE'].present? %>
        <meta name="sentry-release" content="<%= ENV['SENTRY_RELEASE'] %>">
      <% end %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/bsc-icon.png" type="image/png">
    <link rel="icon" href="/bsc-icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/bsc-icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
